.light1 {
  /*WhiteLight*/
  position: absolute;
  width: 195px;
  height: 324px;
  left: -97px;
  top: 170px;
  background: #ffffff;
  filter: blur(250px);
  -webkit-filter: blur(250px);
}
.light2 {
  /*BlueLight*/
  position: absolute;
  width: 436.52px;
  height: 544.07px;
  left: 1000px;
  top: -29px;
  background: linear-gradient(90deg, #1a2980 0%, #26d0ce 100%);
  filter: blur(250px);
  border-radius: 200px;
  transform: rotate(47.46deg);
  -webkit-filter: blur(250px);
}
.light3 {
  /*WhiteLight*/
  position: absolute;
  width: 405px;
  height: 471px;
  left: 257.09px;
  top: 1825.18px;
  background: rgba(255, 255, 255, 0.6);
  filter: blur(300px);
  transform: rotate(176.62deg);
  -webkit-filter: blur(300px);
}
.light4 {
  position: absolute;
  width: 436.52px;
  height: 544.07px;
  left: 1404.85px;
  top: 3150px;
  background: linear-gradient(90deg, #1a2980 0%, #26d0ce 100%);
  filter: blur(150px);
  border-radius: 200px;
  transform: rotate(47.46deg);
  -webkit-filter: blur(150px);
}
