@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black-gradient: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
  --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

* {
  scroll-behavior: smooth;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-drag: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.navbar-glass {
  /* Generatedbyhttps://css-glass.vercel.app/ */
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.navbar-ease-in {
  transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
}

.navbar-ease-out {
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}

.hover-gradient-card:hover {
  background: var(--black-gradient);
  box-shadow: var(--card-shadow);
}

.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

img {
  @layer text-2xs;
}

.text-gradient {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #def9fa 0.89%,
    #bef3f5 17.23%,
    #9dedf0 42.04%,
    #7de7eb 55.12%,
    #5ce1e6 71.54%,
    #33bbcf 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.bg-blue-gradient {
  background: linear-gradient(
    157.81deg,
    #def9fa -43.27%,
    #bef3f5 -21.24%,
    #9dedf0 12.19%,
    #7de7eb 29.82%,
    #5ce1e6 51.94%,
    #33bbcf 90.29%
  );
}

.bg-black-gradient {
  background: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-black-gradient-2 {
  background: linear-gradient(
    -168.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-gray-gradient {
  background: linear-gradient(
    153.47deg,
    rgba(255, 255, 255, 0) -341.94%,
    #14101d 95.11%
  );
}

.fof__particle1 {
  animation: fof__particle1 80s linear infinite;
  -webkit-animation: fof__particle1 80s linear infinite;
}

@keyframes fof__particle1 {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(30px, -100px);
    -webkit-transform: translate(30px, -100px);
    -moz-transform: translate(30px, -100px);
    -ms-transform: translate(30px, -100px);
    -o-transform: translate(30px, -100px);
  }
  100% {
    transform: translate(0, 0);
  }
}

.fof__particle2 {
  @apply animate-pulse;
}

.fof__particle3 {
  animation: fof__particle3 100s linear infinite;
  -webkit-animation: fof__particle3 100s linear infinite;
}

@keyframes fof__particle3 {
  0% {
    transform: translateY(0, 0);
    -webkit-transform: translateY(0, 0);
    -moz-transform: translateY(0, 0);
    -ms-transform: translateY(0, 0);
    -o-transform: translateY(0, 0);
  }
  50% {
    transform: translateY(80px);
    -webkit-transform: translateY(80px);
    -moz-transform: translateY(80px);
    -ms-transform: translateY(80px);
    -o-transform: translateY(80px);
  }
  100% {
    transform: translateY(0, 0);
    -webkit-transform: translateY(0, 0);
    -moz-transform: translateY(0, 0);
    -ms-transform: translateY(0, 0);
    -o-transform: translateY(0, 0);
  }
}

.fof__particle4 {
  animation: fof__particle4 50s linear infinite;
  -webkit-animation: fof__particle4 50s linear infinite;
}

@keyframes fof__particle4 {
  0% {
    transform: translateX(0, 0);
    -webkit-transform: translateX(0, 0);
    -moz-transform: translateX(0, 0);
    -ms-transform: translateX(0, 0);
    -o-transform: translateX(0, 0);
  }
  50% {
    transform: translateX(50px);
    -webkit-transform: translateX(50px);
    -moz-transform: translateX(50px);
    -ms-transform: translateX(50px);
    -o-transform: translateX(50px);
  }
  100% {
    transform: translateX(0, 0);
    -webkit-transform: translateX(0, 0);
    -moz-transform: translateX(0, 0);
    -ms-transform: translateX(0, 0);
    -o-transform: translateX(0, 0);
  }
}
